In [2]:
## Fireup Graphlab

In [1]:
import graphlab

In [4]:
# load tabular dataset

In [2]:
sf = graphlab.SFrame('/Users/kishwarkumar/Desktop/people-example.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to kumar.kishwar@gmail.comand will expire on September 21, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-3389 - Server binary: /Users/kishwarkumar/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1444666848.log
[INFO] GraphLab Server Version: 1.6.1

Could not detect types. Using str for each column.

RuntimeError: Runtime Exception. No files corresponding to the specified path (/Users/kishwarkumar/Desktop/people-example.csv).

In [7]:
# SFrame basics

In [9]:
sf #we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [10]:
sf.head()  #first lines

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [11]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [12]:
# Graphlab Convas

In [13]:
sf.show()  #lets see what graphlab shows us

Canvas is accessible via web browser at the URL: http://localhost:58369/index.html
Opening Canvas in default web browser.

In [16]:
graphlab.canvas.set_target('ipynb')

In [19]:
sf['age'].show(view='Categorical')

In [20]:
# inspect some colomns of dataset

In [22]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [23]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [24]:
sf['age'].mean()

23.142857142857146

In [25]:
sf['age'].max()

25

In [27]:
# create new colomns in our SFrame

In [28]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [29]:
sf["Full Name"] = sf['First Name'] + sf['Last Name']

In [30]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |
|   Felix    |   Brown   |      USA      |  23 |   FelixBrown  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]

In [31]:
# use apply function to do advance transformation of data

In [32]:
def Transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [33]:
sf['Country'].apply(Transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [35]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |
|   Felix    |   Brown   |      USA      |  23 |   FelixBrown  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]

In [37]:
sf['Country'] = sf['Country'].apply(Transform_country)

In [38]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Smith   | United States |  24 |    BobSmith   |
|   Alice    |  Williams |     Canada    |  23 | AliceWilliams |
|  Malcolm   |    Jone   |    England    |  22 |  MalcolmJone  |
|   Felix    |   Brown   | United States |  23 |   FelixBrown  |
|    Alex    |   Cooper  |     Poland    |  23 |   AlexCooper  |
|    Tod     |  Campbell | United States |  22 |  TodCampbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   DerekWard   |
+------------+-----------+---------------+-----+---------------+
[7 rows x 5 columns]